@import "tailwindcss";
@import "./theme.css";

html, 
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family:
    var(--brand-font),
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
    color: white;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
