/* Tailwind v4: Configure custom theme values using @theme */
@theme {
	--brand-font: 'Inter', sans-serif;

	--color-brand-primary: #000000;
	--color-brand-secondary: #5b6c89;
	--color-accent: #ffe630;
	--color-accent-hover: #9f901f;

	--spacing-18: 4.5rem;
	--spacing-88: 22rem;

	--radius-custom: 1rem;
	--radius-large: 2rem;

	--text-heading-h1: 2.5rem;
	--text-heading-h2: 1.5rem;
	--text-heading-h3: 1.25rem;
	--text-link: 1.rem;

	--font-weight-heading-h1-600: 600;

	--shadow-accent: 1px -4px 53px -7px rgba(255,230,48,0.67);
	
	--padding-x-gutter: 10rem;

	--animate-bounce: bounce 1s ease-in-out infinite;
		@keyframes bounce {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-20px);
		}
	}

	--animate-float-1: float 6s ease-in-out infinite;
		@keyframes float {
		0% {
			transform: translate(0, 0);
		}
		25% {
			transform: translate(10px, -10px);
		}
		50% {
			transform: translate(-5px, 5px);
		}
		75% {
			transform: translate(-5px, -10px);
		}
		100% {
			transform: translate(0, 0);
		}
	}

	--animate-float-2: float-2 6s ease-in-out infinite;
		@keyframes float-2 {
		0% {
			transform: translate(0, 0);
		}
		25% {
			transform: translate(-5px, -5px);
		}
		50% {
			transform: translate(-10px, 10px);
		}
		75% {
			transform: translate(5px, 5px);
		}
		100% {
			transform: translate(0, 0);
		}
	}

	--animate-float-3: float-3 6s ease-in-out infinite;
		@keyframes float-3 {
		0% {
			transform: translate(0, 0);
		}
		25% {
			transform: translate(-5px, 5px);
		}
		50% {
			transform: translate(5px, 5px);
		}
		75% {
			transform: translate(-10px, -10px);
		}
		100% {
			transform: translate(0, 0);
		}
	}
}
  
@layer utilities {
	.text-shadow {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	}

	.text-shadow-lg {
		text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	}

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
}